body{
    background-color: cadetblue;
    padding-top: 30%;
    padding-bottom: 30%;
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 2px floralwhite;
    border-radius: 25%;
}
input{
    font-size: large;
    text-align: center;
}
button{
    font-size: large;
    text-align: center;
}